 .tituloPrincipal {
     font-size: 65px;
     color: orange;
     font-family: sans-serif;
 }

 .listaUn {
     background: rgb(190, 190, 190);
 }

 p {
     font-weight: 600;
 }

 body {
     font-size: 16px;
 }